<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Automation Test Cases">
		<parameter name="searchTerm" value="java"/>
		<classes>
			<class name="com.qa.google.testcases.GoogleSearchPageTest"></class>
				</classes>
	</test>
</suite>